In [2]:
import geopandas as gpd

In [2]:
las = gpd.GeoDataFrame.from_file("data/raw/Local_Authority_Districts_May_2024_Boundaries_UK_BGC_-7565825659957132419.geojson")

In [3]:
bmdc = las[las.LAD24CD == "E08000032"].to_crs(crs=4326)

In [4]:
bmdc

,FID,LAD24CD,LAD24NM,LAD24NMW,BNG_E,BNG_N,LONG,LAT,GlobalID,geometry
257,258,E08000032,Bradford,,408395,438626,-1.87389,53.84382,c51e1565-8d09-441d-a315-da484d6b8b47,"POLYGON ((-1.72721 53.91015, -1.72722 53.90896..."

In [5]:
bmdc.to_file("data/raw/bd_lad.geojson")

In [6]:
import petl as etl
from pathlib import Path

In [10]:
DATA_PATH = Path('data/raw/')

In [16]:
bd25 = etl.fromcsv(
    DATA_PATH / "bd25_geo.csv"
).split('PCDS', r'\s+', ['OUT', 'IN'])

In [17]:
bd25

+-------------+-------------+-------------+-------------+----------+-----------+-------+-------+
| OSLAUA      | OSWARD      | LAT         | LONG        | OSEAST1M | OSNRTH1M  | OUT   | IN    |
+=============+=============+=============+=============+==========+===========+=======+=======+
| 'E08000032' | 'E05001347' | '53.796021' | '-1.750599' | '416526' | '0433330' | 'BD1' | '1AA' |
+-------------+-------------+-------------+-------------+----------+-----------+-------+-------+
| 'E08000032' | 'E05001347' | '53.79575'  | '-1.750965' | '416502' | '0433300' | 'BD1' | '1AE' |
+-------------+-------------+-------------+-------------+----------+-----------+-------+-------+
| 'E08000032' | 'E05001347' | '53.794994' | '-1.750301' | '416546' | '0433216' | 'BD1' | '1AF' |
+-------------+-------------+-------------+-------------+----------+-----------+-------+-------+
| 'E08000032' | 'E05001347' | '53.793495' | '-1.753258' | '416352' | '0433047' | 'BD1' | '1AG' |
+-------------+-------------+-------------+-------------+----------+-----------+-------+-------+
| 'E08000032' | 'E05001347' | '53.794476' | '-1.749184' | '416620' | '0433157' | 'BD1' | '1AH' |
+-------------+-------------+-------------+-------------+----------+-----------+-------+-------+
...

In [52]:
def reducer(k, rows):
  all = list(rows);
  return (
    k,
    len([r for r in all if r.OSLAUA == "E08000032"]),
    len([r for r in all if r.OSLAUA != "E08000032"])
  )

counts = bd25.rowreduce(
  'OUT', reducer,
  header=["postcode", "inside", "outside"]
)

In [53]:
counts.tocsv(DATA_PATH / 'postcode_stats.csv')

In [54]:
counts

+----------+--------+---------+
| postcode | inside | outside |
+==========+========+=========+
| 'BD1'    |   1578 |       1 |
+----------+--------+---------+
| 'BD10'   |    893 |      17 |
+----------+--------+---------+
| 'BD11'   |      7 |     365 |
+----------+--------+---------+
| 'BD12'   |    700 |      43 |
+----------+--------+---------+
| 'BD13'   |   1137 |      18 |
+----------+--------+---------+
...

In [ ]:
# https://geoportal.statistics.gov.uk/

In [10]:
wards = gpd.GeoDataFrame.from_file("data/raw/Wards_May_2024_Boundaries_UK_BSC_-6022693383694477628.geojson").to_crs(crs=4326)

In [11]:
wards

,FID,WD24CD,WD24NM,WD24NMW,BNG_E,BNG_N,LONG,LAT,GlobalID,geometry
0,1,E05000932,Ainsdale,,330510,412099,-3.05155,53.60084,1eb9b5eb-4e02-4cd6-9369-590898e50449,"POLYGON ((-3.0141 53.61126, -3.03215 53.59851,..."
1,2,E05000933,Birkdale,,333046,414534,-3.01375,53.62305,f2bd4869-85cd-4e75-a9a2-eca173f66a88,"POLYGON ((-2.99734 53.62687, -3.0141 53.61126,..."
2,3,E05000934,Blundellsands,,330806,399928,-3.04438,53.49150,09fa1a69-5e52-4e5e-b60b-78580d3103e0,"POLYGON ((-3.02573 53.49213, -3.03802 53.48553..."
3,4,E05000935,Cambridge,,334745,419336,-2.98908,53.66642,e45fdd86-48fa-4551-9c0d-6431993be9ff,"POLYGON ((-2.98016 53.68901, -2.96021 53.67134..."
4,5,E05000936,Church,,332033,397634,-3.02539,53.47105,8890dbf0-ff3d-4bd7-b6b6-e44395e04e69,"POLYGON ((-3.01413 53.47781, -3.01487 53.47135..."
...,...,...,...,...,...,...,...,...,...,...
8391,8392,W05001796,St Arvans,Llanarfan,352206,199469,-2.69284,51.69193,071aff22-dcd9-47bb-98ce-6a0226bdc6b3,"POLYGON ((-2.6695 51.74276, -2.67258 51.73604,..."
8392,8393,W05001797,St Kingsmark,Llangynfarch,352792,194843,-2.68374,51.65038,ef2dbf61-d8f8-498f-859d-07faa88160ff,"POLYGON ((-2.68497 51.66124, -2.67809 51.65977..."
8393,8394,W05001798,Town,Y Dref,350812,212580,-2.71486,51.80968,bedaeaf1-89f6-4d7a-b3ec-6c0ef000a807,"POLYGON ((-2.69851 51.81762, -2.71055 51.81065..."
8394,8395,W05001799,West End,West End,347579,187362,-2.75795,51.58266,f0366bb2-fc0a-486d-9de7-535ac5405a7c,"POLYGON ((-2.76599 51.59312, -2.75775 51.58818..."
8395,8396,W05001800,Wyesham,Wyesham,353175,213098,-2.68066,51.81454,c0497545-7938-49d6-a5b4-4d0a829fe29b,"POLYGON ((-2.6504 51.82612, -2.65016 51.82411,..."

In [12]:
import pandas as pd
ward_lkp = pd.read_csv('data/raw/wards.csv')

In [13]:
ward_lkp.Code

0     E05001341
1     E05001342
2     E05001343
3     E05001344
4     E05001345
5     E05001346
6     E05001347
7     E05001348
8     E05001349
9     E05001350
10    E05001351
11    E05001352
12    E05001353
13    E05001354
14    E05001355
15    E05001356
16    E05001357
17    E05001358
18    E05001359
19    E05001360
20    E05001361
21    E05001362
22    E05001363
23    E05001364
24    E05001365
25    E05001366
26    E05001367
27    E05001368
28    E05001369
29    E05001370
Name: Code, dtype: object

In [15]:
wards[wards.WD24CD.isin(ward_lkp.Code)].to_file('data/raw/wards.geojson')

In [5]:
msoa = gpd.GeoDataFrame.from_file('data/raw/MSOA_DEC_2021_EW_NC_v3_2768211653661228621.geojson').to_crs(crs=4326)

In [13]:
msoa[msoa.MSOA21NM.str.startswith('Bradford')]

       MSOA21CD      MSOA21NM MSOA21NMW  ObjectId geometry
2023  E02002198  Bradford 016      None      2024     None
2026  E02002199  Bradford 017      None      2027     None
2028  E02002200  Bradford 018      None      2029     None
2030  E02002201  Bradford 019      None      2031     None
2034  E02002202  Bradford 020      None      2035     None
...         ...           ...       ...       ...      ...
2366  E02002243  Bradford 061      None      2367     None
6733  E02006945  Bradford 062      None      6734     None
6736  E02006946  Bradford 063      None      6737     None
6739  E02006947  Bradford 064      None      6740     None
6790  E02006948  Bradford 065      None      6791     None

[63 rows x 5 columns]