In [1]:
import pandas as pd
from thefuzz.process import extractOne, extractBests

import pipeline_utils.db as database

from config import RAW, WORKING, FUNDED_ORGS_LIST

## Make direct matches to the company data

In [2]:
# Load company database
db = database.connect(read_only=True)

In [3]:
db.sql(f'''CREATE TEMP TABLE tFundedOrgs AS SELECT DISTINCT organisation FROM read_csv('{FUNDED_ORGS_LIST}');''')

In [4]:
db.sql('''SELECT COUNT(*) AS Count FROM tFundedOrgs''')

┌───────┐
│ Count │
│ int64 │
├───────┤
│   103 │
└───────┘

In [5]:
db.sql('''
       CREATE TEMP TABLE tDirect as SELECT r.*,
              CompanyName as registered_name,
              CompanyNumber as company_number,
              "URI" as uri,
              "RegAddress.PostTown" as post_town,
              "RegAddress.PostCode" as postcode,
              CompanyCategory as company_category,
              CompanyStatus as company_status,
              [x for x in [
                     "SICCode.SicText_1",
                     "SICCode.SicText_2",
                     "SICCode.SicText_3",
                     "SICCode.SicText_4"
              ] if x is not NULL] as sic_code,
              IncorporationDate as incorporation_date,
              DissolutionDate as dissolution_date,
              "Accounts.AccountCategory" as accounts_category
              -- , c.*
                        
       FROM tFundedOrgs r LEFT JOIN CompanyData c
       ON upper(r.organisation) == c.CompanyName;
''')

In [6]:
ignored_companies = []

In [7]:
direct_matches = db.sql(
    'SELECT * from tDirect WHERE company_number IS NOT NULL'
).df().query('~organisation.isin(@ignored_companies)')

In [8]:
db.close()

In [9]:
direct_matches.sort_values(by='organisation').loc[: , ['organisation', 'company_number']].to_csv(WORKING / '2-company-match-direct.csv', index=False)

### Fix typos in longlist

Having matched the details, let's see if we can fuzzy match missing items in the longlist.

First, let's get a list of organisations that have been matched to Company House data.

In [10]:
matched_organisations = direct_matches.organisation.unique().tolist()

Then load the raw longlist

In [11]:
raw = pd.read_csv(FUNDED_ORGS_LIST)

In [12]:
corrections = pd.concat(
    [
        raw,
        raw.organisation.map(
            lambda x: extractOne(x, matched_organisations, score_cutoff=90)
        ).apply(
            pd.Series, index=['match', 'score']
        )
    ], axis=1
).query(
    'score.notna() and score < 100'
).loc[: ,['organisation', 'match']].set_index('organisation')
corrections

Empty DataFrame
Columns: [match]
Index: []

In [13]:
corrections.to_csv(WORKING / '2-company-corrections.csv')

## Fuzzy match company data

In [14]:
drop_list = pd.concat([direct_matches, corrections.reset_index()]).organisation

In [15]:
db = database.connect(read_only=True)

In [16]:
companies = db.query('''
                        SELECT DISTINCT CompanyName, CompanyNumber FROM CompanyData
                        WHERE CompanyStatus == 'Active'
                        AND "RegAddress.PostCode" SIMILAR TO '(NE|DH|SR).*'
                        ORDER BY CompanyName;
''').df()

In [17]:
db.close()

In [18]:
candidates = pd.read_csv(FUNDED_ORGS_LIST, usecols=[0]).organisation

In [19]:
def matcher(c, choices):
    return extractBests(c, choices, score_cutoff=80)

In [20]:
candidate_list = candidates[~candidates.isin(drop_list)].unique().tolist()

In [21]:
matches = companies.CompanyName.str.replace(r'\W+', ' ', regex=True).apply(matcher, choices=candidate_list).rename('Matches')

In [22]:
res = pd.concat([companies, matches], axis=1).explode('Matches').dropna()
res['match'], res['score'] = zip(*res.Matches)

fuzzy_matches = res.loc[res.score > 90, ['match', 'CompanyName', 'CompanyNumber', 'score']]
fuzzy_matches['type'] = 'fuzzy'
fuzzy_matches.set_index('match').to_csv(WORKING / '2-company-match-fuzzy.csv')

Direct match charites

In [23]:
db = database.connect(read_only=True)

In [24]:
db.query(f'''
         CREATE OR REPLACE TEMP TABLE tShortlist AS SELECT organisation FROM '{ FUNDED_ORGS_LIST }';
         ''')

In [25]:
db.query('''SELECT * FROM Charities;''')

┌───────────────────────────┬─────────────────────┬───────────────────────────────────────────────────────────────────────────────┬───────────────┬────────────────────┬──────────────────────────┬──────────────────────────────────────────┬─────────────────────────────────────┐
│ registered_charity_number │ organisation_number │                                 charity_name                                  │ latest_income │ latest_expenditure │ charity_contact_postcode │           charity_contact_web            │ charity_company_registration_number │
│           int64           │        int64        │                                    varchar                                    │    varchar    │      varchar       │         varchar          │                 varchar                  │               varchar               │
├───────────────────────────┼─────────────────────┼───────────────────────────────────────────────────────────────────────────────┼───────────────┼────────────────────┼──────────────────────────┼──────────────────────────────────────────┼─────────────────────────────────────┤
│                   1126326 │             5000305 │ THE UNITED SIKH ASSOCIATION DAY CENTRE FOR ELDERLY                            │ 23410         │ 22322              │ BD3 8LJ                  │ NULL                                     │ NULL                                │
│                   1127877 │             5000573 │ LIGHT OF THE WORLD COMMUNITY CENTRE LIMITED                                   │ 299144        │ 339659             │ BD2 4JH                  │ www.lightoftheworldbradford.org.uk       │ 06666862                            │
│                   1128209 │             5001140 │ BANGLADESH HINDU ASSOCIATION (UK)                                             │ 9237          │ 9060               │ E12 6UA                  │ NULL                                     │ 05202054                            │
│                   1129801 │             5002229 │ NORTH OF ENGLAND ACTIVITIES AND TRAINING                                      │ 21433         │ 37954              │ BD3 0NA                  │ n/a.n/a                                  │ NULL                                │
│                   1130777 │             5003833 │ PAROCHIAL CHURCH COUNCIL OF THE ECCLESIASTICAL PARISH OF TONG AND LAISTERDYKE │ 235105        │ 226432             │ BD4 9EJ                  │ thlparish.org.uk                         │ NULL                                │
│                   1130878 │             5003844 │ THE YORKSHIRE CRICKET FOUNDATION                                              │ 829307        │ 872896             │ LS6 3DP                  │ www.yorkshirecricketfoundation.com       │ 06934670                            │
│                   1139151 │             5005410 │ SALTAIRE COMMUNITY FESTIVAL                                                   │ 59086         │ 57747              │ BD18 4DT                 │ www.saltairefestival.co.uk               │ 05237882                            │
│                   1138899 │             5012219 │ AFEMAI CHILDREN'S TRUST                                                       │ 80032         │ 59927              │ WF3 1RW                  │ www.afemaichildrenstrust.org.uk          │ NULL                                │
│                   1143088 │             5014265 │ Ayup Sultan Trust                                                             │ 500           │ 500                │ FY1 3SF                  │ https://ayup-sultan-trust.yolasite.com/  │ NULL                                │
│                   1140763 │             5014848 │ ADDAS CENTRE                                                                  │ 0             │ 0                  │ WF13 3EZ                 │ NULL                                     │ NULL                                │
│                      ·    │                ·    │      ·                                                                        │ ·             │ ·                  │    ·                     │  ·                                       │  ·                                  │
│                      ·    │                ·    │      ·                                                                        │ ·             │ ·                  │    ·                     │  ·                                       │  ·                                  │
│                      ·    │                ·    │      ·                                                                        │ ·             │ ·                  │    ·                     │  ·                                       │  ·                                  │
│                   1124545 │             4038019 │ WEST YORKSHIRE KURDISH COMMUNITY ASSOCIATION                                  │ 6500          │ 5900               │ BD5 0BS                  │ NULL                                     │ NULL                                │
│                   1124251 │             4038286 │ Race Equality Network                                                         │ 169016        │ 134835             │ BD7 1PX                  │ www.raceequalitynetwork.org.uk           │ 05298722                            │
│                   1123716 │             4038552 │ YORKSHIRE PHILHARMONIC CHOIR LIMITED                                          │ 60057         │ 46446              │ WF6 1SL                  │ www.yorkshirephilharmonicchoir.co.uk     │ 06515248                            │
│                   1129714 │             4044713 │ BANGLADESHI YOUTH ORGANISATION                                                │ 188785        │ 156470             │ BD8 7JN                  │ NULL                                     │ 04681096                            │
│                   1131121 │             4044824 │ SHIPLEY MASJID ASSOCIATION                                                    │ 43367         │ 23105              │ BD18 3PH                 │ www.shipleymasjid.com                    │ NULL                                │
│                   1131588 │             4045333 │ BRADFORD DISTRICT COMMUNITY FOUNDATION                                        │ 350237        │ 217015             │ LS1 2TE                  │ NULL                                     │ 06852262                            │
│                   1127093 │             4042758 │ The Keith Howard Foundation                                                   │ 492521        │ 969070             │ LS29 9LF                 │ https://www.keithhowardfoundation.co.uk/ │ NULL                                │
│                   1131035 │             4046886 │ HARROGATE MALE VOICE CHOIR                                                    │ 8525          │ 10143              │ HG5 9JX                  │ www.harrogatemvc.org.uk                  │ NULL                                │
│                   1138144 │             4049890 │ JALALABAD ISLAMIC AND CULTURAL ASSOCIATION                                    │ 18165         │ 14656              │ BD3 9DD                  │ NULL                                     │ NULL                                │
│                   1138092 │             4050075 │ UPENDO WETU                                                                   │ 0             │ 0                  │ NG3 3AH                  │ www.upendowetu.org.uk                    │ NULL                                │
├───────────────────────────┴─────────────────────┴───────────────────────────────────────────────────────────────────────────────┴───────────────┴────────────────────┴──────────────────────────┴──────────────────────────────────────────┴─────────────────────────────────────┤
│ 260 rows (20 shown)                                                                                                                                                                                                                                                    8 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [26]:
charities = db.query('''
         SELECT DISTINCT
            s.*,
            c.charity_name,
            c.registered_charity_number,
            c.charity_company_registration_number
         FROM Charities c
         JOIN tShortlist s
         ON upper(s.organisation) == upper(c.charity_name)
         ORDER BY charity_name
         ''').df(
         )
charities.to_csv(WORKING / '2-charity-match-direct.csv')

In [27]:
db.close()

## SIC Codes

In [28]:
db = database.connect(read_only=True)

In [29]:
db.query(
    f'''
    CREATE OR REPLACE TEMP TABLE tCompanyNumbers AS
    SELECT *
    FROM
    (
        SELECT company_number FROM read_csv('{ WORKING / '2-company-match-direct.csv' }')
        UNION ALL
        SELECT CompanyNumber AS company_number FROM read_csv('{ WORKING / '2-company-match-fuzzy.csv' }')
        UNION ALL
        SELECT charity_company_registration_number AS company_number FROM read_csv('{ WORKING / '2-charity-match-direct.csv' }')
    )
    '''
)

In [30]:
all_sic_codes = db.query(
    '''
    SELECT
        [x for x in [
            "SICCode.SicText_1",
            "SICCode.SicText_2",
            "SICCode.SicText_3",
            "SICCode.SicText_4"
        ] if x is not NULL] as sic_code
    FROM CompanyData c
    JOIN tCompanyNumbers n
    ON c.CompanyNumber == n.company_number
    '''
)

In [31]:
excluded_sic_codes = [
    'None Supplied',
    '47610 - Retail sale of books in specialised stores',
    '47990 - Other retail sale not in stores, stalls or markets',
    '56302 - Public houses and bars',
    '70210 - Public relations and communications activities',
    '82990 - Other business support service activities n.e.c.',
    '84110 - General public administration activities',
    '85590 - Other education n.e.c.',
    '85600 - Educational support services',
    '87900 - Other residential care activities n.e.c.',
    '88100 - Social work activities without accommodation for the elderly and disabled',
    '88990 - Other social work activities without accommodation n.e.c.',
    '93120 - Activities of sport clubs',
    '93290 - Other amusement and recreation activities n.e.c.',
    '94110 - Activities of business and employers membership organizations',
    '94990 - Activities of other membership organizations n.e.c.',
    '96090 - Other service activities n.e.c.',
]

In [32]:
pd.Series(
    all_sic_codes.df().sic_code.explode().unique(),
    name='sic_code'
).sort_values().pipe(
    lambda s: s.loc[~s.isin(excluded_sic_codes)]
).to_csv(
    WORKING / '2-sic-codes.csv', index=False
)